In [4]:
# import findspark
# findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("Pivot").getOrCreate()

In [12]:
df = spark.read.csv("data_.csv", header=True, inferSchema=True)
df.printSchema()
df.show()

root
 |-- ROLL_NO: integer (nullable = true)
 |-- SUBJECT: string (nullable = true)
 |-- MARKS: integer (nullable = true)

+-------+-------+-----+
|ROLL_NO|SUBJECT|MARKS|
+-------+-------+-----+
|   1001|English|   90|
|   1001|Physics|   55|
|   1001|  Maths|   98|
|   1001|Science|   79|
|   1001|History|   79|
|   1002|English|   84|
|   1002|Physics|   80|
|   1002|  Maths|   88|
|   1002|Science|  100|
|   1002|History|   45|
+-------+-------+-----+

In [15]:
tbl = df.groupby('ROLL_NO').pivot('SUBJECT').max('MARKS')

DataFrame[ROLL_NO: int, English: int, History: int, Maths: int, Physics: int, Science: int, Total: int]

In [19]:
tbl = tbl.withColumn("Total",tbl['English']+tbl['Science']+tbl['Maths']+tbl['History']+tbl['Physics'])
tbl.show()

+-------+-------+-------+-----+-------+-------+-----+
|ROLL_NO|English|History|Maths|Physics|Science|Total|
+-------+-------+-------+-----+-------+-------+-----+
|   1002|     84|     45|   88|     80|    100|  397|
|   1001|     90|     79|   98|     55|     79|  401|
+-------+-------+-------+-----+-------+-------+-----+